**NO sobrescribir este Notebook, favor de hacer unaa copia a la carpeta "codigo_estudiantes".**

# Ejercicio 1

**Búsqueda simple con search**

Dada la cadena:
`cadena = "She sells sea shells by the seashore"`
<BR>
Encuentra la primera palabra que empiece con "se" (ignora mayúsculas y minúsculas) y muestra su posición inicial y final.

In [11]:
# Tu código aquí

import re

cadena = "She sells sea shells by the seashore"
pattern=r"se\w*"

result = re.findall(pattern,cadena.lower())
if result:
    primera_palabra = result[0]
    inicio = cadena.lower().index(primera_palabra)
    fin = inicio + len(primera_palabra)
    print(f"Primera palabra que empieza con 'se': {primera_palabra}")
    print(f"Posición inicial: {inicio}")
    print(f"Posición final: {fin}")
else:
    print("No se encontró ninguna palabra que empiece con 'se'.")

# -------------

result = re.search(pattern,cadena.lower())
print(result.group(), result.start(), result.end())

Primera palabra que empieza con 'se': sells
Posición inicial: 4
Posición final: 9
sells 4 9

# Ejercicio 2

**Uso de findall**

Con la misma cadena, encuentra todas las ocurrencias de "sh" y muéstralas en una lista.

In [13]:
# Tu código aquí

#result = re.findall(pattern,cadena.lower())
result = re.findall("sh",cadena.lower())
print(result)

['sh', 'sh', 'sh']

# Ejercicio 3

**Metacaracteres . y ^**

Usa la cadena:
<BR>
`cadena = "Peter Piper picked a peck of pickled peppers"`
<BR>
1. Encuentra todas las palabras que empiecen con "pi".
2. Encuentra todas las palabras que terminen en "ed".

In [15]:
# Tu código aquí

cadena = "Peter Piper picked a peck of pickled peppers"

pattern1 = "pi\w*"
pattern2 = "\w*ed" 

print(re.findall(pattern1,cadena.lower()))
print(re.findall(pattern2,cadena.lower()))

['piper', 'picked', 'pickled']
['picked', 'pickled']

# Ejercicio 4

**Caracteres especiales escapados**

Dada la cadena:
<BR>
`cadena = "El precio del producto es $59.99"`
<BR>
1. Encuentra el valor que aparece después del símbolo $.
2. Busca el separador decimal "." de manera literal.

In [20]:
# Tu código aquí

cadena = "El precio del producto es $59.99"

pattern1 = "\$[0-9.]*"
pattern2 = "\."

print(re.findall(pattern1, cadena))
print(re.findall(pattern2, cadena))

['$59.99']
['.']

# Ejercicio 5

**Conjuntos de caracteres []**

Dada la cadena:
<BR>
`text = "En un rato llega el pato a la granja de Tato"`
<BR>
Encuentra todas las palabras que terminen en "ato" y que empiecen con r, p o t.

In [24]:
# Tu código aquí
text = "En un rato llega el pato a la granja de Tato"

pattern= "[rpt][A-Za-z]*ato"
print(re.findall(pattern,text))

['rato', 'pato']

# Ejercicio 6

**Rangos y negaciones**

Dada la cadena:
<BR>
`direccion = "Av. Corrientes 1234 Piso 5"`
<BR>
1. Extrae solo las letras minúsculas [a-z].
2, Extrae solo los números [0-9].
3. Extrae todos los caracteres que no sean números ([^0-9]).

In [29]:
# Tu código aquí
direccion = "Av. Corrientes 1234 Piso 5"
pattern1= "[a-z]"
pattern2="\d"
pattern3="\D"

print(re.findall(pattern1,direccion))
print(re.findall(pattern2,direccion))
print(re.findall(pattern3,direccion))

['v', 'o', 'r', 'r', 'i', 'e', 'n', 't', 'e', 's', 'i', 's', 'o']
['1', '2', '3', '4', '5']
['A', 'v', '.', ' ', 'C', 'o', 'r', 'r', 'i', 'e', 'n', 't', 'e', 's', ' ', ' ', 'P', 'i', 's', 'o', ' ']

# Ejercicio 7

**Cuantificadores**

Dada la lista:
<BR>
`numeros = ["12", "102", "1002", "10002", "1000002"]`
<BR>
1. Encuentra con regex los números que tengan exactamente un 0 entre el 1 y el 2.
2. Encuentra los que tengan uno o más ceros.
3. Encuentra los que tengan cero o más ceros.

In [45]:
# Tu código aquí
numeros = ["12", "102", "1002", "10002", "1000002"]

pattern1="[1][0][2]" 
pattern2="[1][0]+[2]" 
pattern3="[1][0]*[2]" 

#es = [n for n in numeros if re.match(pattern1,n)]
res1 = list(filter(lambda x: re.match(pattern1,x)  , numeros))
res2 = list(filter(lambda x: re.match(pattern2,x)  , numeros))
res3 = list(filter(lambda x: re.match(pattern3,x)  , numeros))

print(res1)
print(res2)
print(res3)

['102']
['102', '1002', '10002', '1000002']
['12', '102', '1002', '10002', '1000002']

# Ejercicio 8

**Grupos de captura**

Dada la cadena:
<BR>
`text = "Juan: 11-15-3456-7890, María: 11-15-6543-2109"`
<BR>
Crea un patrón que extraiga cada número de celular en tres grupos:
1. código de área (11)
2. prefijo (15-xxxx)
3. número final (xxxx)

Imprime cada número completo y sus partes.

In [50]:
# Tu código aquí
text = "Juan: 11-15-3456-7890, María: 11-15-6543-2109"

pattern1 = "11-[0-9]{2}-[0-9]{4}-[0-9]{4}"
pattern2 = "[0-9]{2}-15-[0-9]{4}-[0-9]{4}"
pattern3 = "[0-9]{2}-[0-9]{2}-[0-9]{4}-[0-9]{4}"

print(re.findall(pattern1,text))
print(re.findall(pattern2,text))
print(re.findall(pattern3,text))

['11-15-3456-7890', '11-15-6543-2109']
['11-15-3456-7890', '11-15-6543-2109']
['11-15-3456-7890', '11-15-6543-2109']

# Ejercicio 9

**Sustitución con sub**

Dada la cadena:
<BR>
`text = "El número de Pedro es 123-456-7890 y el de Ana es 987-654-3210"`

1. Reemplaza todos los números de teléfono por "XXX-XXX-XXXX".
2. Reemplaza "Pedro" por "Juan".

In [54]:
# Tu código aquí
text = "El número de Pedro es 123-456-7890 y el de Ana es 987-654-3210"
pattern = "[0-9]{3}-[0-9]{3}-[0-9]{4}"
print(re.sub(pattern,"XXX-XXX-XXXX",text))
print(re.sub("Pedro","Juan",text))

El número de Pedro es XXX-XXX-XXXX y el de Ana es XXX-XXX-XXXX
El número de Juan es 123-456-7890 y el de Ana es 987-654-3210

# Ejercicio 10

**compile y reutilización de patrones**

Dada la cadena:
<BR>
`cadena = "07/08/2017 | 03/02/1984 | 17/03/1984"`
<BR>
1. Usa re.compile para definir un patrón que encuentre años de 4 dígitos.
2. Obtén todas las coincidencias con findall().
3. Reemplaza los años por "XXXX".

In [55]:
# Tu código aquí
cadena = "07/08/2017 | 03/02/1984 | 17/03/1984"

pattern = re.compile("[0-9]{4}")
print(re.findall(pattern, cadena))
print(re.sub(pattern,"XXXX",cadena))

['2017', '1984', '1984']
07/08/XXXX | 03/02/XXXX | 17/03/XXXX